<%= content_for :title, "Dashboard" %>

<!-- Info boxes -->
<div class="row">
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

      <div class="info-box-content">
        <span class="info-box-text"><%= link_to 'Users', admin_users_path %></span>
        <span class="info-box-number"><%= User.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-music"></i></span>

      <div class="info-box-content">
        <span class="info-box-text"><%= link_to 'Audios', admin_audios_path %></span>
        <span class="info-box-number"><%= Audio.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>

  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-headphones"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Listens</span>
        <span class="info-box-number"><%= Listen.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Likes</span>
        <span class="info-box-number"><%= Like.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- Main row -->
<div class="row">
  <div class="col-md-12">
    <!-- PRODUCT LIST -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Recently Activities</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <%= render "admin/activities/timeline" %>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">
        <%= link_to "View All Activities", admin_activities_path, class: "uppercase" %>
      </div>
      <!-- /.box-footer -->
    </div>
  </div>
</div>
<!-- /.row -->
