<%= content_for :title, "Categories" %>

<%= link_to "Add a new category", new_admin_category_path, class: "btn btn-success" %>

<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title"></h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Limited access</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= category.limited_access %></td>
            <td>
              <%= link_to 'Show', admin_category_path(category), class: 'btn btn-default btn-sm' %>
              <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Delete', admin_category_path(category), class: 'btn btn-danger btn-sm', :method => :delete, :data => { :confirm => 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @categories %>
