<%= content_for :title, "Categories" %>

<%= link_to "Add a new category", new_admin_category_path, class: "btn btn-success" %>

<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title"></h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Audios</th>
          <th>Limited access</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Category.walk_tree do |category, level| %>
          <tr>
            <td>
              <%= link_to admin_category_path(category) do %>
                <%= "#{'-'*level} " %>
                <i class="fa fa-folder-open"></i>
                <%= category.name %>
              <% end %>
            </td>
            <td><%= category.description %></td>
            <td><%= category.audios.count %></td>
            <td><%= category.limited_access %></td>
            <td>
              <%= link_to 'Show', admin_category_path(category), class: 'btn btn-default btn-sm' %>
              <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Delete', admin_category_path(category), class: 'btn btn-danger btn-sm', :method => :delete, :data => { :confirm => 'Are you sure? All sub categories and audios inside this category will be deleted, too!' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
