<%= content_for :title, @category.name %>

<%= link_to 'Back', :back, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_admin_category_path(@category), class: 'btn btn-primary' %>
<%= link_to 'Delete', admin_category_path(@category), class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure? All sub categories and audios inside this category will be deleted, too!' } %>

<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title"></h3>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to @category.name, admin_category_path(@category) %>
        </li>
        <li>
          <%= link_to admin_audios_path(category_id: @category.id) do %>
            Audios
            <small class="badge pull-right bg-yellow">
              <%= @category.audios.count %>
            </small>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <% if @category.parent %>
        <tr>
          <td>
            <%= link_to admin_category_path(@category.parent) do %>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-folder-open"></i>
              <%= @category.parent.name %>
            <% end %>
          </td>
          <td>Parent category</td>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= link_to admin_categories_path do %>
              <i class="fa fa-arrow-left"></i>
              All categories
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
      <% @category.walk_tree do |category, level| %>
        <tr>
          <td>
            <%= link_to admin_category_path(category) do %>
              <%= "#{'-'*level} " %>
              <i class="fa fa-folder-open"></i>
              <%= category.name %>
            <% end %>
          </td>
          <td>Sub category level <%= level %></td>
        </tr>
      <% end %>
      <tr>
        <td>
          <%= link_to new_admin_category_path(category_id: params[:id]) do %>
            <i class="fa fa-folder-open-o"></i>
            New category
          <% end %>
        </td>
        <td>Create a new category belongs to this category</td>
      </tr>
      <tr>
        <td><b>Name</b></td>
        <td>
          <%= @category.name %>
        </td>
      </tr>
      <tr>
        <td><b>Description</b></td>
        <td>
          <%= @category.description %>
        </td>
      </tr>
      <tr>
        <td><b>Limited access</b></td>
        <td>
          <%= @category.limited_access %>
        </td>
      </tr>
      <tr>
        <td><b>Thumbnail</b></td>
        <td>
          <%= image_tag(@category.thumbnail_url(:medium)) %>
        </td>
      </tr>
      <tr>
        <td><b>Created at</b></td>
        <td>
          <%= @category.created_at %>
        </td>
      </tr>
      <tr>
        <td><b>Updated at</b></td>
        <td>
          <%= @category.updated_at %>
        </td>
      </tr>
    </table>
  </div>
</div>
