<%= form_for [:admin, @transaction] do |f| %>
  <div class="row">
    <div class="col-md-9">
      <div class="box box-solid">
        <div class="box-header">
          <div class="box-body pad">
            <%= render "admin/shared/form_error", record: @transaction %>
            <div class="form-group">
              <%= f.label :user_id %>
              <%= f.collection_select :user_id, User.normal_user, :id, :email, {}, class: "form-control", id: "dropdown", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :amount %>
              <div class="input-group">
                <%= f.number_field :amount, class: "form-control" %>
                <span class="input-group-addon">VND</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header"></div>
        <div class="box-body">
          <div class="form-group">
            <%= f.submit class: "btn btn-success btn-block", :data => { :confirm => 'Are you sure? Transaction can not be changed after it was created.' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
