<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="https://placehold.it/160x160" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p><%= current_user.email %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Manager</li>
        <!-- Optionally, you can add icons to the links -->
      <li class="<%= 'active' if current_page?(admin_root_path) %>"><a href="<%= admin_root_path %>"><i class='fa fa-dashboard'></i> <span>Dashboard</span></a></li>
      <li class="<%= 'active' if current_page?(admin_users_path) %>"><a href="<%= admin_users_path %>"><i class='fa fa-users'></i> <span>Users</span></a></li>
      <li class="<%= 'active' if current_page?(admin_categories_path) %>"><a href="<%= admin_categories_path %>"><i class='fa fa-folder-open'></i> <span>Categories</span></a></li>
      <li class="<%= 'active' if current_page?(admin_audios_path) %>"><a href="<%= admin_audios_path %>"><i class='fa fa-music'></i> <span>Audios</span></a></li>
      <li class="<%= 'active' if current_page?(admin_transactions_path) %>"><a href="<%= admin_transactions_path %>"><i class='fa fa-money'></i> <span>Transactions</span></a></li>
      <li class="<%= 'active' if current_page?(admin_settings_path) %>"><a href="<%= admin_settings_path %>"><i class='fa fa-cogs'></i> <span>Settings</span></a></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
